<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
   
  
  </head>
  <body>
    <nav>
         
      <ul>
        <li><a href='/'>Homepage</a></li>
        <li><a href=/searches/new>Search</a></li>
      </ul>
    </nav>
    <main>
        <%- include ('detail', {book: book})%>
       
    </main>
  </body>
</html>