<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/styles/reset.css'>
    <link rel='stylesheet' href='/styles/base.css'>
    <link rel='stylesheet' href='/styles/layout.css'>
    <link rel='stylesheet' href='/styles/modules.css'>
    <title>ERROR</title>
</head>
<body>

    <nav>
        <h1>ERROR ERROR ERROR</h1>
        <ul>
            <li><a href='/'>Homepage</a></li>
        </ul>
    </nav>

  
</body>
</html>