img {
    height: 200px;
    width: 200px;
}

h3 {
    font-family: 'Special Elite', cursive;
    text-align: center;
    margin-top: 19px;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Special Elite', cursive;
}

nav ul {
    display: flex;
    flex-direction: row;
    font-size: 20pt;
    list-style-type: none;
    font-family: 'Special Elite', cursive;
}

nav ul li {
    padding: 30px;
    font-family: 'Special Elite', cursive;
}
